.banner {
    position: relative;
    width: $page_width;
    height: 450px;
    background-color: goldenrod;
    background: url(https://gelimall.oss-cn-shenzhen.aliyuncs.com/album/2020/5/17/174b64de-9655-4999-94ec-edf835463b0c.jpg) no-repeat center;
    .dot {
        position: absolute;
        bottom: 10px;
        left: 50%;
    }
    .dot li {
        float: left;
        width: 18px;
        height: 18px;
        background-color: lime;
        border-radius: 50%;
        margin-left: 10px;
    }
}