.footer {
    width: $box_width;
    margin: 0 auto;
    .service {
        width: $box_width;
        margin-top: 26px;
        padding: 40px 0;
        background-color: #fff;
        // box-sizing: border-box;
        overflow: hidden;
        border-bottom: 1px solid #dedede;
        li {
            float: left;
            border-right: 1px solid #dedede;
            padding: 0 25px;
            cursor: pointer;
        }
    }
    .serve {
        display: flex;
        justify-content: center;
        width: 1200px;
        margin: 0px auto;
        background: #fff;
        border-top: 1px solid #e2e2e2;
        overflow: hidden;
        padding-top: 37px;
        // text-align: center;
        li {
            width: 180px;
            float: left;
            line-height: 26px;
            text-align: center;
            dt {
                height: 35px;
                line-height: 35px;
                font-family: Microsoft Yahei, Arial;
                font-size: 14px;
                font-weight: bold;
                color: #525252;
            }
            dd a {
                color: #b2b2b2;
                font-size: 12px;
                text-decoration: $td;
            }
        }
    }
    .copyright {
        width: $box_width;
        margin: 0 auto;
        background-color: #fff;
        padding: 66px 0 30px 21px;
        box-sizing: border-box;
        p {
            font-size: $font12;
            color: #b2b2b2;
        }
    }
}