* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

li {
  list-style: none;
}

.top .top_content .top_l a, .top .top_content .top_r .top_r_menu li a {
  text-decoration: none;
  font-size: 12px;
  color: #cc0000;
  line-height: 35px;
}

.top .top_content .top_l i, .top .top_content .top_r .top_r_menu li i {
  font-style: normal;
  margin: 0 10px;
  font-size: 12px;
  color: #c8c8c8;
}

.top {
  width: 100%;
  min-width: 1200px;
  height: 35px;
  background-color: #eee;
}
.top .top_content {
  display: flex;
  width: 1200px;
  height: 35px;
  margin: 0 auto;
  justify-content: space-between;
}
.top .top_content .top_l {
  width: 300px;
  margin-left: 50px;
}
.top .top_content .top_r {
  height: 35px;
}
.top .top_content .top_r .top_r_menu {
  float: left;
}
.top .top_content .top_r .top_r_menu li {
  float: left;
  height: 35px;
  line-height: 35px;
}
.top .top_content .top_r .top_r_menu li .iconfont {
  font-size: 12px;
  color: #747474;
}
.top .top_content .top_r .top_r_menu li a {
  color: #747474;
}
.top .top_content .top_r .top_r_menu li a:hover {
  color: #cc0000;
}

.footer {
  width: 1200px;
  margin: 0 auto;
}
.footer .service {
  width: 1200px;
  margin-top: 26px;
  padding: 40px 0;
  background-color: #fff;
  overflow: hidden;
  border-bottom: 1px solid #dedede;
}
.footer .service li {
  float: left;
  border-right: 1px solid #dedede;
  padding: 0 25px;
  cursor: pointer;
}
.footer .serve {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0px auto;
  background: #fff;
  border-top: 1px solid #e2e2e2;
  overflow: hidden;
  padding-top: 37px;
}
.footer .serve li {
  width: 180px;
  float: left;
  line-height: 26px;
  text-align: center;
}
.footer .serve li dt {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-weight: bolder;
  color: #525252;
}
.footer .serve li dd a {
  color: #b2b2b2;
  font-size: 12px;
  text-decoration: none;
}
.footer .copyright {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 66px 0 30px 21px;
  box-sizing: border-box;
}
.footer .copyright p {
  font-size: 12px;
  color: #b2b2b2;
}

.top .top_content .top_l a, .top .top_content .top_r .top_r_menu li a {
  text-decoration: none;
  font-size: 12px;
  color: #cc0000;
  line-height: 35px;
}

.top .top_content .top_l i, .top .top_content .top_r .top_r_menu li i {
  font-style: normal;
  margin: 0 10px;
  font-size: 12px;
  color: #c8c8c8;
}

.top {
  width: 100%;
  min-width: 1200px;
  height: 35px;
  background-color: #eee;
}
.top .top_content {
  display: flex;
  width: 1200px;
  height: 35px;
  margin: 0 auto;
  justify-content: space-between;
}
.top .top_content .top_l {
  width: 300px;
  margin-left: 50px;
}
.top .top_content .top_r {
  height: 35px;
}
.top .top_content .top_r .top_r_menu {
  float: left;
}
.top .top_content .top_r .top_r_menu li {
  float: left;
  height: 35px;
  line-height: 35px;
}
.top .top_content .top_r .top_r_menu li .iconfont {
  font-size: 12px;
  color: #747474;
}
.top .top_content .top_r .top_r_menu li a {
  color: #747474;
}
.top .top_content .top_r .top_r_menu li a:hover {
  color: #cc0000;
}

.list_header {
  width: 1200px;
  height: 80px;
  margin: 10px auto;
  position: relative;
}
.list_header .logo {
  float: left;
  width: 160px;
  height: 80px;
  margin-right: 10px;
}
.list_header .logo img {
  width: 100%;
  height: 100%;
}
.list_header .shop_logo {
  float: left;
  text-align: center;
  padding: 10px 40px 10px 20px;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  margin-right: 20px;
  margin-top: 20px;
}
.list_header .shop_logo h2 {
  text-align: center;
  font-size: 14px;
  font-style: normal;
}
.list_header .shop_follow {
  position: absolute;
  top: 0;
  left: 40%;
  float: left;
  text-align: center;
  padding: 20px 0;
}
.list_header .shop_follow p {
  font-size: 12px;
  margin-bottom: 3px;
  color: #333333;
}
.list_header .shop_follow p span {
  color: #e50606;
}
.list_header .shop_follow button {
  outline: none;
  cursor: pointer;
  padding: 2px 10px;
  border: none;
  background-color: #f5ca1b;
  font-size: 12px;
  color: #ffffff;
  border-radius: 20px;
}
.list_header .mid_search button {
  width: 80px;
  color: #fff;
  border: none;
  outline-style: none;
  font-size: 12px;
  height: 34px;
  line-height: 32px;
  background: #cc0000;
}
.list_header .mid_search {
  float: right;
  padding-right: 79px;
  width: auto;
  width: 416px;
  height: 35px;
  margin-top: 25px;
  border: 2px solid #cc0000;
}
.list_header .mid_search input {
  width: 321px;
  height: 33px;
  padding-left: 10px;
  background-color: #fff;
  border: none;
  color: #323232;
  outline-style: none;
  border: none;
}
.list_header .btn_shop {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  right: 2px;
  width: 80px;
  background: #666;
  height: 34px;
  line-height: 34px;
  border: none;
  outline-style: none;
  color: #fff;
}

.list_banner {
  width: 100%;
  height: 450px;
  background: url(https://gelimall.oss-cn-shenzhen.aliyuncs.com/album/2020/3/31/a248c186-fd9d-47bb-9bb6-409e588d4d86.jpg) no-repeat center;
}

.pro_list {
  width: 1200px;
  margin: 20px auto;
}
.pro_list ul {
  width: 1200px;
  margin: 0 auto;
}
.pro_list li {
  width: 200px;
  padding: 10px;
  float: left;
  margin: 0 10px 10px 0;
  border: 1px solid orangered;
  height: 310px;
  position: relative;
}
.pro_list li a {
  text-decoration: none;
  font-size: 14px;
  color: #333;
  display: block;
}
.pro_list li img {
  width: 200px;
  height: 200px;
  display: block;
}
.pro_list li p {
  width: 200px;
  height: 48px;
  line-height: 24px;
  overflow: hidden;
  margin-top: 20px;
}
.pro_list li em {
  font-style: normal;
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: magenta;
}
.pro_list li span {
  position: absolute;
  left: 10px;
  bottom: 5px;
  color: tomato;
}

/*# sourceMappingURL=list.css.map */
